################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/chess2/Debug
/chess2/.vs

