################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/chess2/.vs/chess2/v17/Browse.VC.opendb
